#profilebox {
    float: left;
    width: 15%;
    margin-top: 0px;
}

.button {
    margin-top: 10px;
    background-color:  #292929;
    color: white;
    border: white;
    border-style: solid;
    border-radius: 8px;
    padding: 4px;
}

.button:hover {
	background-color: #5d91db;
}

#profilePicture {
    padding-bottom: 20px;
}

.profiletext {
    padding-top: 10px;
}

input, select, textarea{
    background-color: #252525;
    border: 2px solid white;
    border-radius: 5px;
}
