.shop {
    float: left;
    border: 1px solid #ccc;
    width: 400px;
    height: 450px;
    text-align: center;
    font-size: 20pt;
    margin: 15px;
}

.text {
    margin: 10px
}

.successText {
    font-size: 14pt;
    margin-top: 4px;
}

.image {
    height: 320px;
    width: auto;
}

input[type="submit"] {
    color: black;
    width: 8em;
    height: 2em;
}