.shop {
    float: left;
    border: 1px solid #ccc;
    width: 400px;
    height: 450px;
    text-align: center;
    font-size: 20pt;
    margin: 15px;
}

.text {
    margin: 10px
}

.successText {
    font-size: 14pt;
    margin-top: 4px;
}

.image {
    height: 320px;
    width: auto;
}

table,tr,td {
    padding: 10px;
    border-collapse: collapse;
}

input {
    color: black;
}

input[type="submit"] {
    width: 8em;
    height: 2em;
}

input[type="text"] {
    width: 15em;
    height: 1.3em;
}

input[type="date"] {
    width: 15em;
    height: 1.3em;
}