#terms {
    height: 600px;
    width: 35%;
    border: 1px solid #ccc;
    font: 16px/26px Georgia;
    overflow: auto;
    margin: auto;
}

#termsSubmit {
    color: black;
    width: 100px;
    height: 25px;
    margin: auto;
    display: block;
}

#termsCheck {
    color: #ffffff;
}

#submitDiv {
    text-align: center;
    margin: 10px 0px;
}